
\.idea/encodings\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/SPD\.iml

\.idea/vcs\.xml

\.idea/workspace\.xml

__pycache__/job\.cpython-37\.pyc

__pycache__/schedule\.cpython-37\.pyc

main\.py

plik\.txt

temp-plot\.html

at000

ta000

\.ipynb_checkpoints/Spraw_02-checkpoint\.ipynb

ta___

ta___~
